// Colors
$button-background-hover: rgba(255, 82, 191, 0.6);
$CTA-background: rgb(255, 255, 255);
$CTA-button-background: rgb(255, 82, 191);
$footer-background: rgb(0, 37, 46);
$heading-background: rgb(235, 251, 255);
$heading-button-background: rgb(255, 255, 255);
$shadow: rgba(0, 0, 0, 0.1);
$social-media-icon-hover: rgb(255, 82, 191);
$word-color-1: rgb(235, 251, 255);
$word-color-2: rgb(0, 37, 46);
$word-color-3: rgb(128, 141, 153);