main {
    padding: 11% 7%;
    color: $word-color-3;

    section {
        padding: 4% 3%;
        border-radius: 15px;
        box-shadow: 0 0 20px 0 $shadow;

        div {
            background-position: right;
            background-repeat: no-repeat;
            background-size: contain;

            h2 {
                color: $word-color-2;
                font-weight: 700;
            }
        }
    
        #part-0 {
            padding: 7% 57% 7% 7%;
            background-image: url("../images/illustration-grow-together.svg");
        }
    
        #part-1 {
            padding: 7% 0 7% 63%;
            background-image: url("../images/illustration-flowing-conversation.svg");
            background-position: center left 7%;
        }
    
        #part-2 {
            padding: 7% 57% 7% 7%;
            background-image: url("../images/illustration-your-users.svg");
        }
    }
}

@media only screen and (max-width: 375px) {
    main {
        margin-bottom: 30%;

        section {
            div {
                padding: 90% 7% 7% !important;
                background-position: center top !important;
                text-align: center;
            }
        }
    }
}